.xxxxplayer-bomberman {
 
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
}

/* Visor */
.xxxxplayer-bomberman::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 10px;
    background-color: #000000;
    border-radius: 10px;
}

.player1, .player2, .player3, .player4 {
    height: 40px;
    width: 40px;
	border: 3px solid #333;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;  /* This makes it round */
    position: absolute;
    transition: transform 0.2s; /* Smooth transition for movement */
}

.player1 {
	background-color: #f0f0f0;
}

.player2 {
	background-color: #f9f511;
}

.player3 {
	background-color: #e55caa;
}	

.player4 {
	background-color: #11aff9;
}